/* Стилизация ссылки "Назад" */
a.back {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
  }
  
  /* Стилизация формы авторизации */
  form {
    margin-top: 50px;
    text-align: center;
  }
  
  /* Стилизация заголовка "Логин" */
  label {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Стилизация поля ввода логина и пароля */
  input[type="text"],
  input[type="password"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Стилизация кнопки "Войти" */
  input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Стилизация текста "Создать аккаунт" */
  p {
    margin-top: 20px;
    font-size: 16px;
  }
  
  /* Стилизация ссылки "Создать аккаунт" */
  p a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Стилизация сообщения об ошибке или успехе */
  p.message {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: red;
  }
  